/*sas*/
/*variable*/
@font-face {
  font-family: "charlotte";
  src: url("../fonts/Charlotte_5/charlotte.otf") format("opentype");
}

@font-face {
  font-family: "amalfi_coast";
  src: url("../fonts/amalfi_coast/Amalfi Coast.ttf") format("truetype");
}

/*mixin*/
/*function*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 8px;
}

.formulaireContainer {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 8px;
}

body {
  background: #272727;
  background-size: cover;
  color: #e5e2e2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  width: 100%;
}

/*Mobile*/
header {
  width: 100%;
  background: url("../images/fond/FOND PRINCIPAL.jpg");
  background-size: cover;
  padding: 20px 0px;
  margin-bottom: 55px;
}

header .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .flex a {
  padding: 5px;
}

header .flex a img {
  width: 260px;
}

header .flex nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .flex nav a {
  font-family: "charlotte",sans-serif;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  padding: 19.45px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

header .flex nav a i {
  font-size: 1.5rem;
}

#index {
  margin: 0 auto;
  width: 100%;
}

#index .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 0 8px;
  /*swiper */
  /*
        .slider {
            background-color:rgba(0,0,0,0);
            .flexslider{
                margin: 0px 0px 16px;
                border-radius: 1%;
                .flex-direction-nav{
                    a{
                        margin: 0 0 0;
                    }
                    .flex-nav-prev{
                        .flex-prev{
                            left: 10px;
                            opacity: 1;
                        }
                    }
                    .flex-nav-next{
                        .flex-next{
                            opacity: 1;
                            right: 10px;
                        }
                    }
                }
                .slides{
                    figure{
                        img{
                            max-width:100%;
                            height:440px;
                            object-fit: cover;
                            object-position: right top;
                            @include  box-shadow;
                            padding: 0 30px;
                            border-radius: 1%;
                        }
                    }
                    
                }
            }
        }
        */
}

#index .flex .swiper-container {
  margin-bottom: 40px;
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 0 4px 16px 0 black;
          box-shadow: 0 4px 16px 0 black;
  border-radius: 1%;
}

#index .flex .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#index .flex .swiper-container .swiper-button-prev {
  height: 35px;
  left: 2px;
}

#index .flex .swiper-container .swiper-button-next {
  height: 35px;
  right: 2px;
}

#index .flex .flux {
  color: #e5e2e2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1%;
  -webkit-box-shadow: 0 4px 16px 0 black;
          box-shadow: 0 4px 16px 0 black;
  width: 100%;
  padding: 20px 40px;
}

#index .flex .flux h1 {
  text-align: center;
}

#index .flex .flux p {
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

#index .flex .flux .lien {
  text-align: center;
}

#index .flex .flux .lien a {
  color: #e5e2e2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

#index .flex .flux .lien a:hover {
  color: white;
}

#index .flex .flux figure {
  text-align: center;
}

#index .flex .flux figure img {
  max-height: 200px;
  max-width: 200px;
}

#index .flex .flux figure figcaption {
  color: #ccc;
}

.gallerie .flex .ligne3Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.gallerie .flex .lignelastItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.gallerie .flex .small {
  width: 50%;
  padding: 8px;
}

.gallerie .flex .small .ciblecontenant {
  position: relative;
}

.gallerie .flex .small .ciblecontenant .cible {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  /*button*/
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  font-weight: bold;
  padding: 7px;
  opacity: 0.5;
  z-index: 16;
}

.gallerie .flex .small .animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallerie .flex .small .animation .imggallerie {
  border-radius: 1%;
  -webkit-box-shadow: 0 4px 16px 0 black;
          box-shadow: 0 4px 16px 0 black;
  width: 100%;
  z-index: 15;
}

.gallerie .flex .small .animation .hidden {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #ccc;
  z-index: 3;
  font-size: 0.8rem;
  padding: 10px;
  margin-top: 10px;
  height: 90px;
}

.gallerie .flex .big {
  width: 100%;
  margin: 8px 0;
  border-radius: 1%;
}

.gallerie .flex .big .ciblecontenant {
  position: relative;
}

.gallerie .flex .big .ciblecontenant .cible {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 0px;
  z-index: 20;
  /*button*/
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10%;
  font-weight: bold;
  padding: 7px;
}

.gallerie .flex .slider .flexslider {
  margin: 0 0;
  background-color: rgba(0, 0, 0, 0);
}

.gallerie .flex .slider .flexslider .slides li figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
}

.gallerie .flex .slider .flexslider .slides li figure img {
  border-radius: 1%;
  max-width: 100%;
  max-height: 400x;
}

.gallerie .flex .slider .flexslider .slides li figure figcaption {
  display: none;
}

.gallerie .flex .zoom figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallerie .flex .zoom figure img {
  border-radius: 1%;
  max-height: 400px;
  max-width: 100%;
}

.gallerie .flex .zoom figure figcaption {
  display: none;
}

@-webkit-keyframes tiroirbis {
  from {
    -webkit-transform: translate(-160px);
            transform: translate(-160px);
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes tiroirbis {
  from {
    -webkit-transform: translate(-160px);
            transform: translate(-160px);
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@-webkit-keyframes tiroir {
  from {
    -webkit-transform: translate(-160px);
            transform: translate(-160px);
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 1;
  }
}

@keyframes tiroir {
  from {
    -webkit-transform: translate(-160px);
            transform: translate(-160px);
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 1;
  }
}

#about .flex {
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .flex .presentation {
  margin-bottom: 30px;
}

#about .flex .presentation h1 {
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 0px;
  text-transform: uppercase;
}

#about .flex .presentation p {
  font-weight: 100;
  line-height: 1.8;
  text-align: justify;
}

#about .flex .contact figure {
  margin-bottom: 30px;
}

#about .flex .contact figure .imgPresentation {
  width: 100%;
  max-height: 300px;
  border-radius: 1%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 16px 0 black;
          box-shadow: 0 4px 16px 0 black;
}

#about .flex .contact figure .titreImage {
  font-size: 24px;
  font-weight: 200;
  line-height: 1em;
  margin-top: .5em;
}

#about .flex .contact .carte {
  width: 100%;
}

#about .flex .contact .champs .icone_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#about .flex .contact .champs .icone_titre i {
  font-size: 1.3rem;
  margin-right: 10px;
}

#about .flex .contact .champs .icone_titre h2 {
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
  margin: 1.2em 0 0.5em 0;
}

#about .flex .contact .champs p {
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0.5em 0;
}

footer {
  margin: 0 auto;
  width: 100%;
}

footer .flex {
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  margin-top: 50px;
}

footer .flex .connect {
  color: #ccc;
  display: block;
  text-decoration: none;
}

footer .flex .connect:hover {
  color: white;
}

footer .flex .connect:visited {
  color: #ccc;
}

.formulaire {
  margin: 0 8px;
  background: rgba(128, 128, 128, 0.5);
  border-radius: 8px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 4px 16px 0 black;
          box-shadow: 0 4px 16px 0 black;
  margin-top: 20px;
  text-align: center;
}

.formulaire #partie_deux {
  background: #b64037;
  border-radius: 0px 0px 8px 8px;
}

.formulaire .form {
  padding: 40px 50px;
}

.formulaire .form div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  position: relative;
  height: 60px;
}

.formulaire .form div span {
  color: #9499a7;
  margin-left: 20px;
  position: absolute;
  z-index: 1;
}

.formulaire .form div .input {
  color: #4e5056;
  padding-left: 40px;
  height: 100%;
  width: 100%;
  background-color: #f4f5f9;
  border: 1px solid #e6e7f0;
  border-radius: 5px;
  text-indent: 16px;
}

.formulaire .form div .input:hover {
  border: 2px solid #4e75b9;
}

.formulaire .form div .input:active {
  border: 2px solid #4e75b9;
}

.formulaire .form div .picture {
  display: none;
}

.formulaire .form div label {
  height: 60px;
  line-height: 60px;
  text-align: left;
}

.formulaire .form div #crypt {
  position: absolute;
  top: 15px;
  right: 4px;
  width: 44px;
  border: none;
  background: none;
  color: #cacedb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulaire .form div #crypt i {
  font-size: 24px;
}

.formulaire .form div #crypt .display {
  display: block;
}

.formulaire .form div #crypt .displaynone {
  display: none;
}

.formulaire .form div #crypt:hover {
  color: #9499a7;
}

.formulaire .form .texteDescription {
  height: 150px;
}

.formulaire .form .texteDescription textarea {
  padding-top: 16px;
}

.formulaire .form .textePresentation {
  height: 600px;
}

.formulaire .form .textePresentation textarea {
  padding-top: 16px;
}

.formulaire .form .button {
  border: 2px solid #eb6f66;
  background-color: #eb6f66;
  border-radius: 22px;
  color: white;
  font-weight: bold;
  height: 44px;
  padding-left: 80px;
  padding-right: 80px;
}

.formulaire .form .button:hover {
  background-color: #db665e;
  border-color: #db665e;
}

@media screen and (min-width: 756px) {
  .container {
    padding: 0 30px;
  }
  .formulaireContainer {
    padding: 0 30px;
  }
  header {
    margin-bottom: 50px;
  }
  header .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .flex nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #index .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*swiper */
    /*
            .slider {
                .flexslider{
                    margin: 0 auto;
                    margin-bottom: 30px;
                    width: 80%;
                    .slides{
                        figure{
                            img{
                                height:500px;
                            }
                        }
                        
                    }
                }
            }
            */
  }
  #index .flex .swiper-container {
    width: 80%;
  }
  #index .flex .flux {
    width: 80%;
    margin: 0 auto;
    padding: 20px 30px;
  }
  .gallerie .flex .small {
    width: 33.33%;
    padding: 8px;
  }
  .gallerie .flex .big {
    width: 80%;
    margin: 8px auto;
  }
  .gallerie .flex .slider .flexslider .slides figure img {
    max-height: 550px;
  }
  .gallerie .flex .zoom figure img {
    max-height: 550px;
  }
  #about .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about .flex .presentation {
    width: 58%;
  }
  #about .flex .contact {
    margin-left: 5%;
    width: 37%;
  }
  .formulaire {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .formulaire #partie_deux {
    border-radius: 0px 8px 8px 0px;
    width: 40%;
  }
  .formulaire #partie_un {
    width: 60%;
  }
  .formulaire #partie_all {
    width: 100%;
  }
  .formulaire .form .button {
    padding-left: 58px;
    padding-right: 58px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1000px;
  }
  header {
    margin-bottom: 50px;
  }
  header .flex a:hover {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 1%;
  }
  header .flex nav a:hover {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 1%;
  }
  #index .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /*slider */
    /*
            .slider {
                width:60%;
                .flexslider{
                    width: 100%;
                    .slides{
                        figure{
                            img{
                                height:500px;
                            }
                        }
                    }
                }
            }
            */
  }
  #index .flex .swiper-container {
    width: 60%;
    height: 500px;
  }
  #index .flex .swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #index .flex .flux {
    width: 39%;
    margin-left: 40px;
  }
  .gallerie .flex .small {
    width: auto;
    padding: 0px;
  }
  .gallerie .flex .small .ciblecontenant .cible {
    display: none;
    top: 120px;
    right: 17px;
  }
  .gallerie .flex .small .ciblecontenant .cible:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.842);
  }
  .gallerie .flex .small .animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallerie .flex .small .animation .imggallerie {
    width: auto;
    opacity: 0.6;
    height: 150px;
    margin: 10px;
  }
  .gallerie .flex .small .animation .hidden {
    height: 150px;
    width: 150px;
    display: none;
  }
  .gallerie .flex .cibleparentAnim:hover ~ .cibleparentAnim {
    -webkit-animation: 0.9s ease-in 0s 1 normal forwards tiroirbis;
            animation: 0.9s ease-in 0s 1 normal forwards tiroirbis;
  }
  .gallerie .flex .small:hover .hidden {
    -webkit-animation: 0.9s ease-in 0s 1 normal forwards tiroir;
            animation: 0.9s ease-in 0s 1 normal forwards tiroir;
    display: block;
  }
  .gallerie .flex .small:hover .cible {
    -webkit-animation: 0.9s ease-in 0s 1 normal forwards tiroir;
            animation: 0.9s ease-in 0s 1 normal forwards tiroir;
    display: block;
  }
  .gallerie .flex .small:hover .imggallerie {
    opacity: 1;
  }
  .gallerie .flex .big {
    width: 100%;
  }
  .gallerie .flex .big .ciblecontenant .cible {
    top: 0px;
    right: 459px;
  }
  .gallerie .flex .big .ciblecontenant .cible:hover {
    background-color: black;
    color: white;
  }
  .gallerie .flex .slider .flexslider .flex-direction-nav a {
    margin: 0 0 0;
    top: 43px;
  }
  .gallerie .flex .slider .flexslider .flex-direction-nav a::before {
    font-size: 2rem;
  }
  .gallerie .flex .slider .flexslider .flex-direction-nav .flex-nav-prev .flex-prev {
    left: 149px;
    /*fleche qui apparait en hover*/
    opacity: 1;
  }
  .gallerie .flex .slider .flexslider .flex-direction-nav .flex-nav-next .flex-next {
    opacity: 1;
    right: 149px;
    /*fleche qui apparait en hover*/
  }
  .gallerie .flex .slider .flexslider .slides li figure img {
    border-radius: 0;
    max-height: 500px;
  }
  .gallerie .flex .slider .flexslider .slides li figure .marginLeft {
    max-height: 400px;
  }
  .gallerie .flex .slider .flexslider .slides li figure figcaption {
    border-radius: 1%;
    display: block;
    margin: 8px auto;
    margin-top: 40px;
    padding: 8px 0px;
    text-align: center;
    width: 100%;
  }
  .gallerie .flex .slider .flexslider .slides li figure figcaption h2, .gallerie .flex .slider .flexslider .slides li figure figcaption h3 {
    color: #e5e2e2;
    margin: 0 auto;
    padding: 2px 0px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1em;
  }
  .gallerie .flex .slider .flexslider .slides li figure figcaption h3 {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.8;
  }
  .gallerie .flex .slider .flexslider .slides li figure figcaption .description {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.8;
    color: #e5e2e2;
    margin: 0 auto;
    padding: 0px;
    text-decoration: none;
  }
  .gallerie .flex .slider .flexslider .slides li figure figcaption .lien:hover {
    color: white;
  }
  .gallerie .flex .zoom figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 30px;
  }
  .gallerie .flex .zoom figure img {
    border-radius: 0;
    max-height: 500px;
    max-width: 100%;
  }
  .gallerie .flex .zoom figure figcaption {
    border-radius: 1%;
    display: block;
    margin: 8px auto;
    margin-top: 40px;
    padding: 8px 0px;
    text-align: center;
    width: 100%;
  }
  .gallerie .flex .zoom figure figcaption h2, .gallerie .flex .zoom figure figcaption h3 {
    color: #e5e2e2;
    margin: 0 auto;
    padding: 2px 0px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1em;
  }
  .gallerie .flex .zoom figure figcaption h3 {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.8;
  }
  .gallerie .flex .zoom figure figcaption .description {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.8;
    color: #e5e2e2;
    margin: 0 auto;
    padding: 0px;
    text-decoration: none;
  }
  .gallerie .flex .zoom figure figcaption .lien:hover {
    color: white;
  }
  .formulaire .form .button {
    border: 2px solid #eb6f66;
    background-color: #eb6f66;
    border-radius: 22px;
    color: white;
    font-weight: bold;
    height: 44px;
    padding-left: 80px;
    padding-right: 80px;
  }
  footer .flex {
    color: #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 50px;
  }
  footer .flex .connect {
    color: #ccc;
    display: block;
    text-decoration: none;
  }
  footer .flex .connect:hover {
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */